*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
}

body{
    background-color: #e7e7e7;
    padding-top: 100px;
}
header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img{
    height: 40px;
    width: 16 px;
    margin-right: 10px;
    }

    header h1{
        font-size: 35px;
        font-weight: lighter;
    } 
    
    header{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .container{
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }
    form{
        display: flex;
        max-width: 640px;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 56px;
    }
    form input{
        font-size: 15px;
        background-color:#fff ;
        border: none;
        border-bottom: 2px solid #000;
        padding: 3px;
        margin-right: 10px;
    }

    form button{
        background-color: #009532;
        color: #fff;
        font-size: 14px;
        font-weight: lighter;
        border-style: none;
        cursor: pointer;
        padding: 3px;
    }

    
table{
    width: 100%;
}

table th{
    border-bottom: 2px solid #000;
    padding: 10px;
    font-size: 15px;
    font-weight:lighter;
}

table td{
    padding: 16px 0;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
    








